# Flutter
apps/mobile/.dart_tool/
apps/mobile/android/
apps/mobile/ios/
apps/mobile/build/
apps/mobile/.flutter-plugins*

# .NET / Visual Studio
**/bin/
**/obj/
**/publish/
*.user
*.suo
.vs/

# Pacchetti e file locali
*.zip
*.apk
*.ipa
*.pfx
*.jks
key.properties
.DS_Store
